@model ZulfieP.Models.Binding.EmployeeCreate

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Employees</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthdate" class="control-label"></label>
                <input asp-for="Birthdate" class="form-control" type="date" />
                <span asp-validation-for="Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentityNumber" class="control-label"></label>
                <input asp-for="IdentityNumber" class="form-control" />
                <span asp-validation-for="IdentityNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <input asp-for="DepartmentId" class="form-control" />
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Section" class="control-label"></label>
                <input asp-for="Section" class="form-control" />
                <span asp-validation-for="Section" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsRatired" class="control-label"></label>
                <input asp-for="IsRatired" class="form-control" />
                <span asp-validation-for="IsRatired" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KidsNumber" class="control-label"></label>
                <input asp-for="KidsNumber" class="form-control" />
                <span asp-validation-for="KidsNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GradeId" class="control-label"></label>
                <select asp-for="GradeId" class="form-control" asp-items="ViewBag.GradeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StageId" class="control-label"></label>
                <select asp-for="StageId" class="form-control" asp-items="ViewBag.StageId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MarrigeStatus" class="control-label"></label>
                <input asp-for="MarrigeStatus" class="form-control" />
                <span asp-validation-for="MarrigeStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitialSalary" class="control-label"></label>
                <input asp-for="InitialSalary" class="form-control" />
                <span asp-validation-for="InitialSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UniAllotments" class="control-label"></label>
                <input asp-for="UniAllotments" class="form-control" />
                <span asp-validation-for="UniAllotments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DegreeAllotments" class="control-label"></label>
                <input asp-for="DegreeAllotments" class="form-control" />
                <span asp-validation-for="DegreeAllotments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositionAllotments" class="control-label"></label>
                <input asp-for="PositionAllotments" class="form-control" />
                <span asp-validation-for="PositionAllotments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarrigeAllotments" class="control-label"></label>
                <input asp-for="MarrigeAllotments" class="form-control" />
                <span asp-validation-for="MarrigeAllotments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KidsAllotments" class="control-label"></label>
                <input asp-for="KidsAllotments" class="form-control" />
                <span asp-validation-for="KidsAllotments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransportationAllotments" class="control-label"></label>
                <input asp-for="TransportationAllotments" class="form-control" />
                <span asp-validation-for="TransportationAllotments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RetirementSubtraction" class="control-label"></label>
                <input asp-for="RetirementSubtraction" class="form-control" />
                <span asp-validation-for="RetirementSubtraction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherSubtractions" class="control-label"></label>
                <input asp-for="OtherSubtractions" class="form-control" />
                <span asp-validation-for="OtherSubtractions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScientificTitleId" class="control-label"></label>
                <select asp-for="ScientificTitleId" class="form-control" asp-items="ViewBag.ScientificTitleId"></select>
                <span asp-validation-for="ScientificTitleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VacationDiff" class="control-label"></label>
                <input asp-for="VacationDiff" class="form-control" />
                <span asp-validation-for="VacationDiff" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
